#sidebar
{

  width: 3.5rem;
  height: 100vh !important;

  padding: 0;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 1000;
  overflow: hidden;
  white-space: nowrap;

  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 0.15rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

  transition: width 0.5s ease-in-out;
  
}